.vscode

CIC-IDS2017/

CICFlowMeter/

README.txt

# Exclude the directory containing saved models
/trained_model_files/

# Exclude log files if any are generated
*.log

# IDE specific files
.idea/

fixed_dataset
archive

.DS_Store
reports